<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Svn.SvnUpdateCommand</typeName>
    <ctorArgs>
      <ctorArg name='svnExe' value='C:\Program Files\TortoiseSVN\bin\svn.exe' />
      <ctorArg name='directoryToUpdate' value='C:\JABE\JABELabs\Svn\jabe-repo-1' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Console.ConsolePauseCommand</typeName>
  </command>
  <!--<command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsCleanBuildCommand</typeName>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe' />
      <ctorArg name='solution' value='C:\JABE\JABELabs\NorthwindTraders\Northwind.sln' />
      <ctorArg name='configuration' value='Release' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Console.ConsolePauseCommand</typeName>
  </command>-->
  <!--<command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryDeleteContentsOnlyCommand</typeName>
    <ctorArgs>
      <ctorArg name='targetDir' value='C:\JABE\TestPublishFolder' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Console.ConsolePauseCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsPublishWebAppCommand</typeName>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe' />
      <ctorArg name='project' value='C:\JABE\JABELabs\NorthwindTraders\Src\WebUI\WebUI.csproj' />
      <ctorArg name='configuration' value='Release' />
      <ctorArg name='publishProfile' value='FolderProfile.pubxml' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Console.ConsolePauseCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileZip.Zip7CompressCommand</typeName>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files\7-Zip\7z.exe' />
      <ctorArg name='targetZip' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='source1' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Console.ConsolePauseCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryDeleteContentsOnlyCommand</typeName>
    <ctorArgs>
      <ctorArg name='targetDir' value='C:\JABE\TestPublishFolder' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>-->
</commands>