<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <!--<command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockCommandWithNonDefaultConstructor</typeName>
    <ctorArgs>
      <ctorArg name='dummyName' value='dummyValue' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockSucceedingCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockSucceedingCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockFailingCommand</typeName>
  </command>-->
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileDeleteCommand</typeName>
    <ctorArgs>
      <ctorArg name='file' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\FileToDeleteTestFile.txt' />
      <ctorArg name='backupdir' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\BackupDir' />
    </ctorArgs>
  </command>
</commands>