<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <!--<command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockCommandWithNonDefaultConstructor</typeName>
    <ctorArgs>
      <ctorArg name='dummyName' value='dummyValue' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockSucceedingCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockSucceedingCommand</typeName>
  </command>
  <command>
    <typeName>CommandCenter.Infrastructure.Tests, CommandCenter.Infrastructure.Tests.MockCommands.MockFailingCommand</typeName>
  </command>-->
  
  <!--<command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.FileDeleteCommand</typeName>
    <ctorArgs>
      <ctorArg name='file' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\FileToDeleteTestFile.txt' />
      <ctorArg name='backupdir' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\BackupDir' />
    </ctorArgs>
  </command>-->

  <!--<command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryDeleteCommand</typeName>
    <ctorArgs>
      <ctorArg name='file' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\DirToDelete' />
      <ctorArg name='backupdir' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\BackupDir' />
    </ctorArgs>
  </command>-->
  <!--<command>
    <typeName>CommandCenter.Tests, CommandCenter.Tests.MockCommands.MockFailingCommand</typeName>
  </command>-->
  
  
  <!--<command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileZip.Zip7CompressCommand</typeName>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files\7-Zip\7z.exe' />
      <ctorArg name='targetZip' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\jabe archive.7z' />
      <ctorArg name='source1' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\BackupDir\File1.txt' />
      <ctorArg name='source2' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\BackupDir\File2.txt' />
      <ctorArg name='source3' value='C:\JABE\JABELabs\CommandCenter\CommandCenter.UI.Console\BackupDir\some folder' />
    </ctorArgs>
  </command>-->

  <!--<command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsCleanBuildCommand</typeName>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe' />
      <ctorArg name='solution' value='C:\JABE\JABELabs\NorthwindTraders\Northwind.sln' />
      <ctorArg name='configuration' value='Release' />
    </ctorArgs>
  </command> -->

  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsPublishWebAppCommand</typeName>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe' />
      <ctorArg name='project' value='C:\JABE\JABELabs\NorthwindTraders\Src\WebUI\WebUI.csproj' />
      <ctorArg name='configuration' value='Release' />
      <ctorArg name='publishProfile' value='FolderProfile.pubxml' />
    </ctorArgs>
  </command>-

</commands>