<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Svn.SvnUpdateCommand</typeName>
    <shortDescription>Update staging folder with latest source code versions</shortDescription>
    <ctorArgs>
      <ctorArg name='svnExe' value='C:\Program Files\TortoiseSVN\bin\svn.exe' />
      <ctorArg name='directoryToUpdate' value='C:\JABE\JABELabs\Svn\jabe-repo-1' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryDeleteContentsOnlyCommand</typeName>
    <shortDescription>Delete contents of Publish folder</shortDescription>
    <ctorArgs>
      <ctorArg name='targetDir' value='C:\JABE\TestPublishFolder' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsCleanRebuildCommand</typeName>
    <shortDescription>Clean and rebuild solution</shortDescription>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe' />
      <ctorArg name='solution' value='C:\JABE\JABELabs\NorthwindTraders\Northwind.sln' />
      <ctorArg name='configuration' value='Release' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsPublishWebAppCommand</typeName>
    <shortDescription>Publish web app</shortDescription>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe' />
      <ctorArg name='project' value='C:\JABE\JABELabs\NorthwindTraders\Src\WebUI\WebUI.csproj' />
      <ctorArg name='configuration' value='Release' />
      <ctorArg name='publishProfile' value='FolderProfile.pubxml' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.FileDeleteCommand</typeName>
    <shortDescription>Delete .config files from Publish folder</shortDescription>
    <ctorArgs>
      <ctorArg name='file' value='C:\publish\blablabla\web.config' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.FileDeleteCommand</typeName>
    <shortDescription>Delete target zip file</shortDescription>
    <ctorArgs>
      <ctorArg name='file' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileZip.Zip7CompressCommand</typeName>
    <shortDescription>Zip publish folder</shortDescription>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files\7-Zip\7z.exe' />
      <ctorArg name='targetZip' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='source1' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>

  <!-- SERVER SIDE-->
 
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileZip.Zip7CompressCommand</typeName>
    <shortDescription>Archive web apps (3 of these) to TEMPDIR</shortDescription>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files\7-Zip\7z.exe' />
      <ctorArg name='targetZip' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='source1' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.RenameFileCommand</typeName>
    <shortDescription>TODO: Rename app backup files</shortDescription>
    <ctorArgs>
      <ctorArg name='sourceFile' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='targetFile' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.FileCopyCommand</typeName>
    <shortDescription>Copy .configs from live apps to staging apps</shortDescription>
    <ctorArgs>
      <ctorArg name='source' value='C:\publish\blablabla\web.config' />
      <ctorArg name='target' value='C:\publish\blablabla\web.config' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Iis.IisAppPoolStopCommand</typeName>
    <shortDescription>Stop IIS app pool; requires admin privileges</shortDescription>
    <ctorArgs>
      <ctorArg name='appCmd' value='C:\Windows\System32\inetsrv\appcmd.exe' />
      <ctorArg name='appPoolName' value='training' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileZip.Zip7CompressCommand</typeName>
    <shortDescription>Backup logs (3 of these) to temp dir</shortDescription>
    <ctorArgs>
      <ctorArg name='exe' value='C:\Program Files\7-Zip\7z.exe' />
      <ctorArg name='targetZip' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='source1' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.RenameFileCommand</typeName>
    <shortDescription>TODO: Rename Backup logs</shortDescription>
    <ctorArgs>
      <ctorArg name='sourceFile' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='targetFile' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryDeleteContentsOnly</typeName>
    <shortDescription>Delete contents of live apps</shortDescription>
    <ctorArgs>
      <ctorArg name='dir' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='backupDir' value='C:\JABE\TestPublishFolder' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryCopyContents</typeName>
    <shortDescription>TODO: Copy contents of staging to live dirs</shortDescription>
    <ctorArgs>
      <ctorArg name='sourceDir' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
      <ctorArg name='targetDir' value='C:\JABE\CommandCenterBackupDir\JABEApp.7z' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.Iis.IisAppPoolStartCommand</typeName>
    <shortDescription>Start IIS app pool; requires admin privileges</shortDescription>
    <ctorArgs>
      <ctorArg name='appCmd' value='C:\Windows\System32\inetsrv\appcmd.exe' />
      <ctorArg name='appPoolName' value='training' />
    </ctorArgs>
  </command>
  <command>
    <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.FileCopyCommand</typeName>
    <shortDescription>Copy backup of app and logs from TEMPDIR to backup folders</shortDescription>
    <ctorArgs>
      <ctorArg name='source' value='C:\publish\blablabla\web.config' />
      <ctorArg name='target' value='C:\publish\blablabla\web.config' />
      <ctorArg name='backupDir' value='C:\JABE\CommandCenterBackupDir' />
    </ctorArgs>
  </command>
</commands>