<?xml version="1.0" encoding="utf-8" ?>
<commandCenter>
  <tokens>
     <token key="[SOURCE_DIR]" value=" C:\FullLocalPathToRepo" />
      <token key="[MSBUILD]" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MsBuild.exe" />
   </tokens>
   <commands>
    <command>
          <typeName>CommandCenter.Commands, CommandCenter.Commands.Svn.SvnUpdateCommand</typeName>
          <shortDescription>Update staging folder with latest source code versions</shortDescription>
           <ctorArgs>
                <ctorArg name='svnExe' value='C:\Program Files\TortoiseSVN\bin\svn.exe' />
                <ctorArg name='directoryToUpdate' value='[SOURCE_DIR]' />
           </ctorArgs>
        </command>
       <command>
      	<typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsCleanRebuildCommand</typeName>
      	<shortDescription>Clean and rebuild solution</shortDescription>
      	<ctorArgs>
        		<ctorArg name='vsExe' value='[MSBUILD]' />
        		<ctorArg name='solutionFile' value='[SOURCE_DIR]\MySolution.sln' />
        		<ctorArg name='configuration' value='Release' />
      	</ctorArgs>
         </command>
      <command>
         <typeName>CommandCenter.Commands, CommandCenter.Commands.FileSystem.DirectoryDeleteContentsOnly</typeName>
         <shortDescription>Delete contents of publish folder</shortDescription>
         <ctorArgs>
           <ctorArg name='dir' value='C:\MyPublishFolder' />
           <ctorArg name='backupDir' value='C:\MyBackupFolder' />
         </ctorArgs>
      </command>
    <command>
         <typeName>CommandCenter.Commands, CommandCenter.Commands.MsBuild.MsPublishWebAppCommand</typeName>
         <shortDescription>Publish web app</shortDescription>
         <ctorArgs>
            <ctorArg name='exe' value='[MSBUILD]'/>
           <ctorArg name='project' value='[SOURCE_DIR]\MyProject.csproj' />
           <ctorArg name='configuration' value='Release' />
           <ctorArg name='publishProfile' value='FolderProfile.pubxml' />
         </ctorArgs>
       </command>
    <command>
      <typeName>CommandCenter.Commands, CommandCenter.Commands.FileZip.Zip7CompressCommand</typeName>
      <shortDescription>Zip publish folder</shortDescription>
      <ctorArgs>
        <ctorArg name='exe' value='C:\Program Files\7-Zip\7z.exe' />
        <ctorArg name='targetZip' value='C:\MyPublishFolder\MyPackagedApp.7z' />
        <ctorArg name='source1' value='[SOURCE_DIR]' />
      </ctorArgs>
    </command>
    </commands>
</commandCenter>
